body{
    background-image:url("./bgpopo.jpg");
    background-size:cover;
    overflow:hidden;
    padding:15px;
    color:black;
    font-family: 'Dancing Script', cursive;
}
#mecallkare{
    width:100%;
    height:100%;
    background-image:url("./bobopopo.png");
    background-size:cover;
    background-size:cover;
    box-shadow:10px 10px 10px grey;
    border-radius:15px;
    padding:10px;
    overflow:hidden;
}
canvas{
box-shadow:10px 10px 10px white;
}
